// @import url("http://fonts.cdnfonts.com/css/lab-grotesque");

$font: "Lab Grotesque", sans-serif;

//headings
$heading-color: #333333;

//texts
$text-color: #333333;
$text-items-color: #767676;

//colors
$white: #fff;
$black: #000;
$gray: #8c8d8d;
$light-green: #04ddb2;
